<div class="dyk-container">
    <div class="did-you-know-section">
        <h2>💡 {{#str}} dyk_heading, mod_goodhabits {{/str}} <span class="dyk-close-btn">X</span></h2>

        <div class="tips-container">
            <div class="tip-card open">
                <h3 class="tip-header">{{#str}} dyk_add_entry_heading, mod_goodhabits {{/str}}</h3>
                <div class="tip-content first">
                    <ol>
                        <li>{{#str}} dyk_add_entry_1, mod_goodhabits {{/str}}: <span class="example-checkmark noxy"></span> </li>
                        <li>{{grid_open_help_string}}</li>
                        <li>{{#str}} dyk_add_entry_3, mod_goodhabits {{/str}}</li>
                        <li>{{#str}} dyk_add_entry_4, mod_goodhabits {{/str}}</li>
                        <li>{{#str}} dyk_add_entry_5, mod_goodhabits {{/str}}</li>
                    </ol>
                </div>
            </div>
            <div class="tip-card closed">
                <h3 class="tip-header">{{#str}} dyk_cal_unit_options_heading, mod_goodhabits, {{period_string}} {{/str}}</h3>
                <div class="tip-content">
                    <div>{{#str}} dyk_cal_unit_options_1, mod_goodhabits, {{period_string}} {{/str}}:
                        <div class="calendar">
                            <div data-text="WEEK 49" class="example time-unit december time-unit-0 count-8">
                                <div class="top-line">
                                    {{#str}} example, mod_goodhabits {{/str}}
                                </div>
                                <div class="bottom-line">
                                    3
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clear-both"></div>
                    <ul>
                        <li>{{#str}} dyk_cal_unit_options_2, mod_goodhabits, {{def_article_string}} {{/str}}</li>
                        <li>{{#str}} dyk_cal_unit_options_3, mod_goodhabits, {{chosen_string}} {{/str}}</li>
                        <li>{{skip_help_string}}</li>
                    </ul>
                    <hr>
                    <p>{{#str}} dyk_cal_unit_options_5, mod_goodhabits, {{skipped_string}} {{/str}}</p>
                </div>
            </div>
            <div class="tip-card closed">
                <h3 class="tip-header">{{#str}} dyk_prefs_heading, mod_goodhabits {{/str}}</h3>
                <div class="tip-content">
                    <ul>
                        <li>{{#str}} dyk_prefs_1, mod_goodhabits {{/str}}</li>
                        <li>{{#str}} dyk_prefs_2, mod_goodhabits {{/str}}</li>
                        <li>{{#str}} dyk_prefs_3, mod_goodhabits {{/str}}</li>
                        <li>{{#str}} dyk_prefs_4, mod_goodhabits {{/str}}</li>
                    </ul>
                </div>
            </div>
            <div class="tip-card closed">
                <h3 class="tip-header">{{#str}} dyk_mng_habits_heading, mod_goodhabits {{/str}}</h3>
                <div class="tip-content">
                    <p>
                        {{#str}} dyk_mng_habits_1, mod_goodhabits {{/str}}
                    </p>
                    <ul>
                        <li>{{#str}} dyk_mng_habits_2, mod_goodhabits {{/str}}</li>
                        <li>{{#str}} dyk_mng_habits_3, mod_goodhabits {{/str}}</li>
                        <li>{{#str}} dyk_mng_habits_4, mod_goodhabits {{/str}}</li>
                        <li>{{#str}} dyk_mng_habits_5, mod_goodhabits {{/str}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>