<div class="simple-view"
     data-period-duration="{{periodduration}}"
     data-sesskey="{{{sesskey}}}"
     data-wwwroot="{{{config.wwwroot}}}"
>
    <form action="{{{view-url}}}" method="post" class="habit-form">
        <div class="simple-main">
            {{#has_remaining_habits}}
                <h1 class="simple-heading">
                    {{heading}}
                    {{#date}}
                        - {{#str}} starting, mod_goodhabits {{/str}} {{date}}
                    {{/date}}
                </h1>
                <span class="prev-habit">←</span>
                <div class="habits-wrapper">
                    {{#habits}}
                        <div class="sliders habit">
                            <h2 class="habit-heading">
                                <span class="habit-name">
                                    {{name}}
                                </span>
                                <span class="is-saved saved-{{id}}">
                                    ✔ {{#str}} saved, mod_goodhabits {{/str}}
                                </span>
                            </h2>
                            {{#desc}}
                                <p class="habit-desc">
                                    {{desc}}
                                </p>
                            {{/desc}}
<!--                            <h3>{{#str}} simple_view_effort, mod_goodhabits {{/str}}</h3>-->
                            <h3>{{{effort}}}</h3>
                            <input type="range" class="discrete-slider effort habit-{{id}}" id="discreteSlider"
                                   name="habit-{{id}}-effort" min="1" max="9" step="1"
                                   value="5" data-habit-id="{{id}}" data-timestamp="{{timestamp}}">
<!--                            <h3>{{#str}} simple_view_outcome, mod_goodhabits {{/str}}</h3>-->
                            <h3>{{{outcome}}}</h3>
                            <input type="range" class="discrete-slider outcome habit-{{id}}"
                                   name="habit-{{id}}-outcome" min="1" max="9" step="1"
                                   value="5" data-habit-id="{{id}}" data-timestamp="{{timestamp}}">
                        </div>
                    {{/habits}}
                </div>
                <span class="next-habit">→</span>
            {{/has_remaining_habits}}
            {{^has_remaining_habits}}
                <div class="all-complete">
                    {{#str}} simple_all_complete, mod_goodhabits {{/str}}
                    {{heading}}
                    {{#date}}
                        - {{#str}} starting, mod_goodhabits {{/str}} {{date}}
                    {{/date}}
                </div>
            {{/has_remaining_habits}}
            <button type="submit" class="submit-button">{{#str}} simple_view_back, mod_goodhabits {{/str}}</button>
        </div>
    </form>
</div>
<div class="viewport-too-small">
    {{#str}} small_viewport_message, mod_goodhabits {{/str}}
</div>